#darkMode {
    background: transparent url("../assets/images/moon.png") no-repeat center;
    background-size: 30px 30px;
    width: 45px;
    height: 45px;
    filter: grayscale(100%);
    border: none;
    border-radius: 50%;
    transition: background-color 0.3, ease-in-out, filter 0.3 ease-in-out;
}

#darkMode:hover,
#darkMode:focus {
filter: none;
background-color: var(--background-color);
cursor: pointer;
transition: ease-in-out 0.3s;
}

#darkMode.clicked {
    filter: none;
    background-color: #141d26;
}